header{ 
    background-color: blue;
}


.navBar li a {

    text-decoration: none ;

}


main {
    color:black;
}

main section{
    background-color: rgb(255, 255, 255);
}  

.parrafoFrase{
    font-family: ;
    font-size: large;
}

.fotoCicuito {
    font-size: small;
}

.parrafoQuienessomos{
    background-color: black;
    color: aliceblue;
}

.parrafoMision{
    background-color: grey;
}

main h3{
    background-color: black;
    color: aliceblue;
}


footer{
    background-color: blue;
}

footer p{
    color: aliceblue;
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    /* Estilos específicos para dispositivos con ancho máximo de 768px */
    
    }

  /* Media query para dispositivos más grandes */
    @media (min-width: 992px) {
    /* Estilos específicos para dispositivos con ancho mínimo de 992px */
    /* ... */
    }